/* canvas {
  image-rendering: optimizeQuality;
} */
.overlay {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-family: 'Comic Sans MS', 'Comic Sans', sans-serif;
  color: white;
}
.overlay h2,
.overlay h3,
.overlay h4 {
  text-align: center;
  padding: 0 10px;
}
.overlay h4 a,
.overlay h4 a:visited,
.overlay h4 a:active,
.overlay h4 a:hover {
  color: #ffff99;
}
.menu {
  text-align: center;
}
.menu-option {
  margin: 20px 0;
  text-align: center;
  position: relative;
}
.menu-icon {
  margin: 20px 10px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}
div.button,
button.button {
  border-radius: 10px;
  background-color: #cccc00;
  border-top: 2px solid #ffffaa;
  border-bottom: 3px solid #aaaa00;
  color: #000;
  padding: 5px 20px;
  cursor: pointer;
}
.selected div.button {
  color: #fff;
}
div.button div.subtext {
  font-size: 14px;
}
div.buttonmouse:hover {
  color: #fff;
}
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 50vw;
  max-height: 90vh;
  overflow: auto;
  z-index: 9999;
  padding: 20px;
  font-size: 16px;
  color: #000;
}
@media (max-width: 900px) {
  .popup {
    width: 80vw;
  }
}
@media (min-width: 901px) and (max-width: 1400px) {
  /* Typical screens */
  .popup {
    width: 60vw;
  }
}
.popup p {
  margin-bottom: 15px;
}
.popup .img {
  display: block;
  margin: 5px auto;
  max-width: 50%;
  max-height: 20vh;
}
.popup .close {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 3px 6px;
  cursor: pointer;
}
.popup.nameentry {
  background-color: #ff9;
}
.popup.nameentry input {
  background-color: #ffc;
  border-radius: 3px;
  border: 1px solid #aaa;
  width: 220px;
  padding: 2px 6px;
  margin: 0 5px;
}
.popup.leaderboard {
  background-color: #ff9;
}
.leaderboard .date {
  float: right;
  margin-right: 50px;
}
.leaderboard .title {
  font-size: 24px;
  margin-bottom: 20px;
}
.leaderboard div.tablediv {
  max-width: 100%;
  overflow-x: auto;
}
.leaderboard table th {
  text-align: left;
}
.leaderboard table td.rank {
  padding-right: 10px;
}
.leaderboard table td.address {
  padding-right: 20px;
  min-width: 170px;
}
.leaderboard table td.score {
  text-align: center;
}
.disconnect {
  position: absolute;
  top: 20px;
  right: 20px;
}
